{% extends "base.html" %}
{% load app_tags %}
{% block title %}Change you password{% endblock %}
{% block content %}
    <div class="w-25 m-auto ">
        <div class="text-center">
            <h1>Change you password</h1>
            <p>Use the form below to change your password.</p>
            <form action="." method="post">
                {% for field in form %}
                    {% with 'form-control,'|addstr:field.label as value %}
                        <div class="form-group">
                        {{ field|class_placeholder:value }}
                        </div>

                    {% endwith %}
                {% endfor %}
                {% csrf_token %}
                <p><input class="btn btn-outline-success" type="submit" value="Change"></p>
            </form>
        </div>
    </div>
{% endblock %}