{% extends "base.html" %}
{% load app_tags %}
{% block title %}Reset your password{% endblock %}
{% block content %}
    <div class="container text-center">
        <h1>Reset your password</h1>
        {% if validlink %}
            <div class="w-25 m-auto">
            <p>Please enter your new password twice:</p>
            <form action="." method="post">
                {% for field in form %}
                    {% with 'form-control,'|addstr:field.label as value %}
                        <div class="form-group">
                            {{ field|class_placeholder:value }}
                        </div>

                    {% endwith %}
                {% endfor %}
                {% csrf_token %}
                <p><input type="submit" value="Change my password" class="btn btn-outline-primary"/></p>
            </form>
            </div>

        {% else %}
            <p>The password reset link was invalid, possibly because it has
                already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
{% endblock %}