{% extends "base.html" %}
{% load app_tags %}
{% block title %}Reset your password{% endblock %}
{% block content %}
    <div class="w-25 m-auto">
    <h1>Forgot password?</h1>
    <p>Enter your e-mail address below.</p>
    <form action="." method="post">
        {% for field in form %}
            {% with 'form-control,'|addstr:field.label as value %}
                <div class="form-group">
                    {{ field|class_placeholder:value }}
                </div>

            {% endwith %}
        {% endfor %}
        <p><input type="submit" value="Send e-mail" class="btn btn-outline-info"></p>
        {% csrf_token %}
    </form>
    </div>
{% endblock %}